.git/

# Don't copy virtualenvs because Docker will recreate Python environment
venv/

# Don't copy models because with all the "build contexts" and all the copying
# Docker does, we'll run out of disk space in no time; better let Docker
# redownload the thing
word2vec-GoogleNews-vectors/
models/saved_models*

# Don't copy any "model has been downloaded" marker files
.*.downloaded
