<!DOCTYPE html>
<html lang="en">

<head>
    <title>News Labels Classifier</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
</head>

<style>
    .boxsizingBorder {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
</style>

<body>
    <h1>Predict News Labels</h1>

    <h3>input text here:</h3>
    <div>
        <textarea id="content" rows="40" style="width:80%;"></textarea>
    </div>
    <button id="getLabels">Get Labels!</button>
    <h5>Labels:</h5>
    <table>
        <tr>
            <th>600 Labels</th>
            <th>3455 Labels (>30 articles)</th>
            <th>All Labels (26000)</th>
            <th>Labels + Taxonomies (>30)</th>
            <th>Taxonomies</th>
        </tr>
        <tr style="vertical-align: top">
            <td><div id="labels600"></div></td>
            <td><div id="labels3000"></div></td>
            <td><div id="labelsAll"></div></td>
            <td><div id="labelsTax"></div></td>
            <td><div id="taxonomies"></div></td>
        </tr>
    </table>

    <script type="text/javascript">

        function scoresArrayToHtml(scores) {
            var html = "";
            for (var i=0; i<scores.length; i++){
                html += scores[i]['label']+": "+scores[i]['score']+"<br />";
            }
            return html;
        }

        $('#getLabels').click(function() {
            // information to be sent to the server
            var info = $('#content').val();
            var data = JSON.stringify({text: info});

            $.ajax({
                method: 'POST',
                url: '/predict.json',
                data: data,
                contentType: 'application/json',
                success: (data) => {
                    $('#labels600').html(scoresArrayToHtml(data.descriptors600));
                    $('#labels3000').html(scoresArrayToHtml(data.descriptors3000));
                    $('#labelsAll').html(scoresArrayToHtml(data.allDescriptors));
                    $('#labelsTax').html(scoresArrayToHtml(data.descriptorsAndTaxonomies));
                    $('#taxonomies').html(scoresArrayToHtml(data.taxonomies));
                }
            });

        });

    </script>

</body>

</html>
